.ChatContainer {
    width: 800px;
    height: 500px;
    border: 2px solid #ddd;

}

.ChatContainer > .ChatHeader {
    width: 100%;
    background: orangered;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.ChatContainer > .ChatHeader h3 {
    margin:0;
    padding:0;
    font-weight: 400;
    color: white;
}
.ChatContainer > .chatMessages{
    height:420px;
    border-bottom: 11px solid gray;
    margin-left: auto;
    overflow-y:scroll;
}
.ChatContainer > .chatBottom form input[type ="submit"]{
    width:7%;
    padding: 9px;
    background:gray;
    border:1px solid #ddd;
    cursor:pointer;
}

.ChatContainer > .chatBottom form input[type ="text"]{
    width: 90%;
    padding:3px;
    padding-left: 1px;
    border: 1px solid #ddd;
    border-radius:5px;]
margin:8px;
    height:30px;

}