<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type ="text/css" th:href ="@{/ChatRoomStyle.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<div class="topnav">
<a  href="/friends">Friends</a>
<a href="/review">Game Reviews</a>
<a href="/NewsFeed">Newsfeed</a>
<a class="active" href="/chatroom">Chatrooms</a>
</div>
</head>
<body style="background-color:#99aab5;">

<div class ="ChatContainer">
    <div class ="ChatHeader">
        <h3>Welcome CurrentUser to the chatroom</h3>


        <form action="/chatroom/newUser" id="newuser">
            <input type ="text" name ="name" id ="text2" placeholder="Enter a gamertag to add user to the chat"/>
            <input type ="submit"  value ="add"/>
        </form>

        
    </div>
    <div class="chatMessages">
        <ul id="list" >
        </ul>
    </div>


    <div class="chatBottom">

    <form action = "#" onSubmit = "return false;" id="chatForm">
        <input type ="hidden" id ="name";/>
        <input type ="text" name ="text" id ="text" value=''placeholder="type your chat message"/>
        <input type ="submit" onclick="addLi()" name="submit" value ="Post"/>


    </form>

        <script>

            function addLi()
            {
                var txtVal = document.getElementById('text').value;
                if(txtVal ===""){
                    alert("please enter data into the field.")
            }else {
                    listNode = document.getElementById('list'),
                        liNode = document.createElement("LI"),
                        txtNode = document.createTextNode("<CurrentUser> " + text.value);
                    liNode.appendChild(txtNode);
                    listNode.appendChild(liNode);
                    document.getElementById('text').value ="";
                }
            }
        </script>
    </div>
</div>
</body>
</html>